html,
body {
  background-color: var(--dark);
  color: var(--light);
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.panel {
  height: 100vh;
  position: sticky;
  top: 0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.section {
  width: 100%;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
  gap: 1rem;
}

.boxes-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.purple {
  height: 50vh;
  min-height: 50vh;
}

/* styles.css */

/* Skill.css */

.app {
  margin-top: 5%;
  max-width: 800px;
  /* margin: 0 auto; */
  padding: 20px;

}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #ddd;
  color: black;
  border: none;
  cursor: pointer;
}
.tab.active {
  background-color: black; /* Active tab color */
  color: white; /* Active tab text color */
}
.tab.inactive {
  background-color: #ddd; /* Inactive tab color */
  color: black; /* Inactive tab text color */
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 22vh;
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.box p {
  margin-top: 10px;
  font-family: "Satoshi", sans-serif;
}

.box:hover {
  background-color: black;
  color: white;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .box {
    width: calc(50% - 20px);
  }
}

/* footer section */

.text-style1 {
  font-size: 3rem;
  text-align: left;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  padding-left: 15px;
  letter-spacing: -1px;
}

.text-style2 {
  font-size: 8rem;
  text-align: left;
  /* font-family: 'Satoshi', sans-serif; */
  font-family: "Apoc Revelations Regular", serif;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2em;
}

.links {
  /* margin-bottom: 12%; */
margin-top: 5%;
  display: flex;
  -ms-flex-direction: column;
  font-family: "Satoshi", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1em;
  gap: 8%;
  padding-left: 15px;
  cursor: pointer;
  
}

.flip-text {
  span {
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    position: relative;
    display: inline-block;
  }

  span:before {
    position: absolute;
    content: attr(data-text);
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover span {
    transform: rotateX(90deg);
  }
}


/* About */

.a-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.about-style1 {
  font-size: 2rem;
  text-align: left;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  padding-left: 15px;
  letter-spacing: 1px;
  padding: 1%;
}

.a-visible {
  margin: 1% 25% 1% 25%;
  /* text-align: center; */
  text-align: justify;
  /* align-items: center; */


}

.about-style2 {
  /* display: inline; */
  /* overflow-wrap: break-word; */
  font-size: 1.6rem;
  font-family: "Satoshi", sans-serif;
  /* font-family: "Apoc Revelations Regular", serif; */
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2em;
}

.about-style3 {
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  .a-visible {
    margin: 1% 5%; /* Adjusted margin for even smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .about-style1 {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .about-style2 {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  .about-style3 {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }
}

/* project */
